/3Trimestre/C12/CPasoDeCadena/PasoDeCadena/nbproject/private/
/3Trimestre/C12/CPasoDeCadena/PasoDeCadena/build/
/3Trimestre/C12/Incrementa5/incrementa5/nbproject/private/
/3Trimestre/C12/Incrementa5/incrementa5/build/
/3Trimestre/C12/Incrementa5/ProyectoSuma/nbproject/private/
/3Trimestre/C12/Incrementa5/ProyectoSuma/build/
/3Trimestre/C12/Incrementa5/Animales/nbproject/private/
/3Trimestre/C12/Incrementa5/Animales/build/
/3Trimestre/C12/GatosConClase/nbproject/private/
/3Trimestre/C12/GatosConClase/build/
/3Trimestre/C12/C12.1/Bocadillos/nbproject/private/
/3Trimestre/C12/C12.1/Bocadillos/build/
/3Trimestre/C12/C12.1/PiedraPapelTijeras/nbproject/private/
/3Trimestre/C12/C12.1/PiedraPapelTijeras/build/
/3Trimestre/C12/C12.1/KebabSimulator/nbproject/private/
/3Trimestre/C12/C12.1/KebabSimulator/build/
